<%- include("partials/header") %>
    


<div class="container">   

<h1>Post</h1>


<div class="form"> 

<form action="/post" method="post"> 

<input type="text" placeholder="Title" name="postTitle">
<br> <br>
<textarea class="form-control" name="postBody" rows="3" placeholder="Start Typing....."  ></textarea>

<br>

<button class="btn btn-primary"> Submit</button>






</form>

</div>













</div>














<%- include("partials/footer") %>